.smallcontainer{
	width: 600px;
	margin: 50px auto;
}

.smallcontainer h2{  
color: black;
font-weight: bold;
font-size: 30px;
font-family: avenir;
text-align: center;
margin: 8px;
}

.smallcontainer p{  
color: black;
font-size: 14px;
text-align: center;
}


@media (max-width: 960px) {
  .container {
    width: 200px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 100px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 50px;
  }
}

